.UserLogin {
    display: flex;
    justify-content: center;
    
}

.btnUserLogin {
    position: relative;
}

.EntryRegister {
    display: none;
    background-color: blueviolet;
    position: absolute;
    top: 100%;
}

.btnUserLogin:hover .EntryRegister{
    display: block;
}

li {
    list-style-type: none;
}

 li:hover {
    background-color: antiquewhite;
 
}